<footer class="mx-auto bg-white w-full max-w-container px-4 sm:px-6 lg:px-8">
  <div class="border-t border-slate-900/5 py-10">
    <div class="flex justify-center">
      <img class="w-32" src="https://imgs.search.brave.com/f-qquiVja-j3J7XsuV8Ec7ye8oWRdkJUcL7wPaBGCPQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy80/LzQ2L1Zyb29tbG9n/by5wbmc">
    </div>
    <p class="mt-5 text-center text-sm leading-6 text-slate-500">© 2024 Vroom.ma All rights reserved.</p>
    <div class="mt-8 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700"><a
      href="/privacy-policy">Privacy policy</a>
      <div class="h-4 w-px bg-slate-500/20"></div><a href="/changelog">Changelog</a>
    </div>
  </div>
</footer>
