<app-carousel-home></app-carousel-home>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-3 sm:px-20">
    <app-vehicle-card></app-vehicle-card>
    <app-vehicle-card></app-vehicle-card>
    <app-vehicle-card></app-vehicle-card>
    <app-vehicle-card></app-vehicle-card>
    <app-vehicle-card></app-vehicle-card>
    <app-vehicle-card></app-vehicle-card>
    <app-vehicle-card></app-vehicle-card>
    <app-vehicle-card></app-vehicle-card>
    <app-vehicle-card></app-vehicle-card>
    <app-vehicle-card></app-vehicle-card>

</div>

