<div class="font-[sans-serif]">
  <div class="min-h-screen flex flex-col items-center justify-center py-6 px-4">
    <div class="max-w-md w-full">
      <a href="javascript:void(0)"><img
        src="https://imgs.search.brave.com/f-qquiVja-j3J7XsuV8Ec7ye8oWRdkJUcL7wPaBGCPQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy80/LzQ2L1Zyb29tbG9n/by5wbmc" alt="logo" class='w-40 mb-8 mx-auto block' />
      </a>

      <div class="p-8 rounded-2xl bg-white dark:bg-gray-800">
        <h2 class="text-gray-800 dark:text-gray-100 text-center text-2xl font-bold">Activation account</h2>
        <p class="text-center text-red-500 mt-2">Check your email and enter the code here</p>
        <form class="mt-8 space-y-4">
          <div>
            <label class="text-gray-800 dark:text-gray-100 text-sm mb-2 block ">Activation code</label>
            <div class="relative flex items-center">
              <input name="code"
                      [(ngModel)]="code"
                     type="text" required class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-red-500" placeholder="Enter your code" />
              <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-4 h-4 absolute right-4" viewBox="0 0 24 24">
                <circle cx="10" cy="7" r="6" data-original="#000000"></circle>
                <path d="M14 15H6a5 5 0 0 0-5 5 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 5 5 0 0 0-5-5zm8-4h-2.59l.3-.29a1 1 0 0 0-1.42-1.42l-2 2a1 1 0 0 0 0 1.42l2 2a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42l-.3-.29H22a1 1 0 0 0 0-2z" data-original="#000000"></path>
              </svg>
            </div>
          </div>
          <div class="!mt-8">
            <button type="button"
                    (click)="activateAccount()"
                    class="w-full py-3 px-4 text-sm tracking-wide rounded-lg text-white bg-red-500 hover:bg-red-500 focus:outline-none">
              Activate
            </button>
          </div>
          <p class="text-gray-800 dark:text-gray-100 text-sm !mt-8 text-center">
            Didn't receive the code?
            <a class="text-red-500 hover:underline ml-1 whitespace-nowrap font-semibold"
            (click)="resendCode()">
              Resend Code
            </a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
