<div class="w-screen h-screen flex items-center justify-center bg-black/60 z-40 fixed top-0 dark:bg-black/80">
  <div class="w-[80vw] h-[65vh] bg-gray-200 dark:bg-gray-800 shadow-lg rounded-lg flex flex-col">

    <!-- Calendar Header -->
    <div class="flex items-center justify-between px-6 py-2 bg-gray-800 text-white dark:bg-gray-700">
      <button (click)="previousMonth()" class="hover:bg-red-700 p-2 rounded-full dark:hover:bg-red-800">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
      </button>
      <span class="text-lg font-semibold">{{ getCurrentMonthYear() }}</span>
      <button (click)="nextMonth()" class="hover:bg-red-700 p-2 rounded-full dark:hover:bg-red-800">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>

    <!-- Calendar Body -->
    <div class="flex-grow p-4 grid grid-cols-7 gap-1 text-center overflow-hidden">
      <div *ngFor="let weekday of weekdays" class="font-semibold text-gray-600 dark:text-gray-300">
        {{ weekday }}
      </div>

      <div
        *ngFor="let day of daysInMonth"
        class="p-4 text-black dark:text-white"
        [ngClass]="{
          'text-gray-400 dark:text-gray-500': !day || isDayDisabled(day),
          'cursor-pointer hover:bg-red-300 dark:hover:bg-red-500': day && !isDayDisabled(day),
          'bg-red-400 dark:bg-red-500': isDayInSelectedPeriod(day),
          'cursor-not-allowed opacity-50 dark:opacity-40': isDayDisabled(day)
        }"
        (click)="selectDay(day)">
        {{ day || '' }}
      </div>
    </div>

    <!-- Reserve Button -->
    <div class="p-4 flex justify-center">
      <button
        (click)="bookVehicle()"
        class="bg-red-500 text-white px-6 py-2 rounded-full hover:bg-red-600 dark:bg-red-600 dark:hover:bg-red-700">
        Reserve
      </button>
    </div>

  </div>
</div>
